---
import type {CollectionEntry} from 'astro:content';

interface Props {
    index: number;
    item: CollectionEntry<"blog"> | undefined;
}

const base = import.meta.env.BASE_URL;
const index = Astro.props.index;
const item = Astro.props.item;
const thumbnail = base + "info-thumbnail/" + (item?.data?.thumbnail ?? "ACTIVITY.jpg")
const title = item?.data?.title ?? item?.id ?? "";
const href = item ? (base + "blog/" + item.slug) : "";
const [year, month, day] = item?.id?.split("-") ?? ["yyyy", "MM", "dd"];
const category = item?.data?.category ?? "未分类"
---

{
    item && <a target="_blank" {...{href, title}}
               class={"w-[38.25rem] portrait:w-full h-[17rem] text-inherit hover:text-ark-blue no-underline inline-block relative pt-[3.25rem] cursor-pointer"
                   + ((index % 2 === 0) ? " landscape:pr-10" : " landscape:pl-10 landscape:top-12")}>
        <img class="w-full h-[9.875rem] portrait:h-auto object-cover object-center block"
             src={thumbnail} alt="Thumbnail - 缩略图"/>
        <div class="mt-2 flex whitespace-nowrap transition-[color] duration-300">
            <div class="text-ark-blue text-[1.125rem] font-bold mr-12 flex-none">{category}</div>
            <div class="text-[1.125rem] font-bold flex-none mr-12">
                <div class="text-[.875rem] font-benderRegular">{`${year} // ${month} / ${day}`}</div>
                <div class="text-[1.25rem] leading-[1.4] font-bold truncate">{title}</div>
            </div>
        </div>
    </a>
}
