---
import RootLayout from "./RootLayout.astro";
import {IconArrow} from "../components/SvgIcons";

interface Props {
    title?: string
    subTitle?: string
    tabTitle?: string
    goBackHref?: string
}

const base = import.meta.env.BASE_URL
const title = Astro.props.title ?? "INFO"
const subTitle = Astro.props.subTitle ?? "情报中心"
const tabTitle = Astro.props.tabTitle ?? "情报中心"
const goBackHref = Astro.props.goBackHref
const hasLeftAsideSlot = Astro.slots.has("left-aside")
---

<RootLayout title={tabTitle}>
    <!-- TODO: Canvas 动态背景 -->
    <div class="w-full h-full flex pt-[9.5rem] portrait:pt-[9.375rem] portrait:pr-[5.75rem]">
        <!-- TODO: 装饰线 -->
        {
            hasLeftAsideSlot &&
                <aside class="w-[16vw] relative top-0 bottom-0 right-0 mix-blend-difference bg-list-texture bg-cover bg-center bg-opacity-30 portrait:hidden">
                    <!-- TODO: 左侧栏竖屏适配 -->
                    <slot name="left-aside"/>
                </aside>
        }
        <main class="flex-auto pb-[4.5rem] portrait:pt-[2.5rem] portrait:px-[1.875rem] portrait:pb-[12rem] flex">
            <div class="w-[80.75rem] portrait:w-auto mx-auto flex-none flex-col portrait:flex-auto overflow-x-hidden overflow-y-auto">
                <slot/>
            </div>
        </main>
        <aside class="w-[25.5rem] portrait:w-auto mt-auto mb-[9.5rem] flex-none portrait:absolute portrait:right-0 portrait:bottom-[5.625rem] portrait:mb-0 select-none">
            <slot name="aside-header"/><!-- TODO: 调整位置，与正文顶部对齐 -->
            <div class="relative text-right">
                <div class="text-[1.25rem] text-ark-blue font-black pr-9 portrait:hidden">{subTitle}</div>
                <!-- TODO: 竖屏模式也半透明显示在左下角 -->
                <div class="text-[#5f5f5f] text-[12.5rem] leading-none font-oswaldMedium tracking-[-.625rem] pr-8 portrait:hidden">{title}</div>
            </div>
            <div class="mt-8 pr-[2.625rem] flex flex-col items-end">
                <slot name="aside-footer"/>
            </div>
            <div class="flex justify-end">
                <a href={goBackHref ? goBackHref : base} target="_blank"
                   class="w-[14.875rem] h-[3.75rem] text-inherit no-underline px-[2.5rem] bg-[#5a5a5a] flex items-center justify-between cursor-pointer transition-[color,background-color] duration-300">
                    <IconArrow className="w-2 rotate-180 pointer-events-none"/>
                    <div>
                        <div class="text-[1.25rem] font-bold">{goBackHref ? "返回列表" : "返回首页"}</div>
                        <div class="text-[.875rem] font-benderBold">GO BACK</div>
                    </div>
                </a>
                {
                    goBackHref &&
                        <a href={base} target="_blank"
                           class="w-[10.5rem] h-[3.75rem] text-inherit no-underline px-[2.25rem] bg-[#3f3f3f] flex items-center justify-between cursor-pointer transition-[color,background-color] duration-300">
                            <div>
                                <div class="text-[1.25rem] font-bold">返回首页</div>
                                <div class="text-[.875rem] font-benderBold">HOMEPAGE</div>
                            </div>
                        </a>
                }
            </div>
        </aside>
    </div>
</RootLayout>

<script>
    import {viewIndex} from "../components/store/rootLayoutStore";

    viewIndex.set(1)
</script>

<style lang="scss" is:global>
  // TODO: Markdown CSS

  article {
    font-family: "Source Han Sans", "微软雅黑", sans-serif;
  }
</style>
