---
import RootLayout from "./RootLayout.astro"
import {IconArrow} from "../components/SvgIcons"
import LineDecorator from "../components/LineDecorator"
import PageTracker from "../components/PageTracker"

interface Props {
    title?: string
    subTitle?: string
    tabTitle?: string
    goBackHref?: string
}

const base = import.meta.env.BASE_URL
const title = Astro.props.title ?? "INFO"
const subTitle = Astro.props.subTitle ?? "情报中心"
const tabTitle = Astro.props.tabTitle ?? "情报中心"
const goBackHref = Astro.props.goBackHref
const hasLeftAsideSlot = Astro.slots.has("left-aside")
---

<RootLayout title={tabTitle}>
    <!-- TODO: Canvas 动态背景 -->
    <div class="landscape:hidden"><PageTracker client:only="react"/></div>
    <LineDecorator client:only="react"/>
    <div class="w-full h-full flex pt-[9.5rem] portrait:pt-[9.375rem] portrait:pr-[5.75rem]">
        {
            // TODO: 左侧栏竖屏适配

            hasLeftAsideSlot &&
                <aside class="w-[18rem] mix-blend-difference bg-list-texture bg-cover bg-center bg-opacity-30 overflow-y-auto portrait:hidden">
                    <slot name="left-aside"/>
                </aside>
        }

        <main class="pb-[4.5rem] portrait:pt-[2.5rem] pl-8 portrait:pl-[1.875rem] portrait:pb-[12rem] box-border grow break-words hyphens-auto overflow-y-auto">
            <div class="w-full h-full overflow-x-hidden overflow-y-auto"
                 style={{
                     // TODO: 上边框也添加渐变
                     mask: "linear-gradient(0deg, transparent, #000 1rem)"
                 }}>
                <slot/>
            </div>
        </main>

        <aside class="w-[25.5rem] flex flex-col items-end justify-between portrait:hidden">
            <header class="overflow-y-auto grow portrait:hidden">
                <slot name="aside-header"/>
            </header>

            <div class="text-right select-none">
                <div class="text-[1.25rem] text-ark-blue font-black pr-9">
                    {subTitle}
                </div>
                <div class="text-[#5f5f5f] text-[12.5rem] leading-none font-oswaldMedium tracking-[-.625rem] pr-8">
                    <!-- TODO: 竖屏模式也半透明显示在左下角 -->
                    {title}
                </div>
            </div>

            <footer class="mt-8 pr-[2.625rem] box-border flex flex-col items-end">
                <slot name="aside-footer"/>
            </footer>

            <!-- TODO: 修改布局，竖屏时显示按钮组 -->
            <div class="flex justify-end mb-[9.5rem]">
                <a href={goBackHref ? goBackHref : base} target="_self"
                   class="w-[14.875rem] h-[3.75rem] text-inherit no-underline hover:text-black hover:bg-white bg-[#5a5a5a] px-[2.5rem] flex items-center justify-between cursor-pointer transition-[color,background-color] duration-300">
                    <IconArrow className="w-2 rotate-180 pointer-events-none"/>
                    <div>
                        <div class="text-[1.25rem] font-bold">{goBackHref ? "返回列表" : "返回首页"}</div>
                        <div class="text-[.875rem] font-benderBold">GO BACK</div>
                    </div>
                </a>
                {
                    goBackHref &&
                        <a href={base} target="_self"
                           class="w-[10.5rem] h-[3.75rem] text-inherit no-underline hover:text-black hover:bg-white bg-[#3f3f3f] px-[2.25rem] flex items-center justify-between cursor-pointer transition-[color,background-color] duration-300">
                            <div>
                                <div class="text-[1.25rem] font-bold">返回首页</div>
                                <div class="text-[.875rem] font-benderBold">HOMEPAGE</div>
                            </div>
                        </a>
                }
            </div>
        </aside>
    </div>
</RootLayout>

<script>
    import {viewIndex} from "../components/store/rootLayoutStore"
    import {directions} from "../components/store/lineDecoratorStore"

    viewIndex.set(1)

    function handleWindowsResize() {
        if (window.innerWidth > window.innerHeight)
            directions.set({top: true, right: false, bottom: false, left: false})
        else
            directions.set({top: true, right: true, bottom: true, left: false})
    }

    handleWindowsResize()
    window.addEventListener("resize", handleWindowsResize)
</script>

<style lang="scss" is:global>
  // TODO: Markdown CSS

  article {
    font-size: 18px;
    font-family: "Source Han Sans", "微软雅黑", sans-serif;

    h1 {
      font-size: 58px;
      font-weight: 900;
    }

    h2 {
      font-size: 48px;
      font-weight: 800;
      padding-top: 2rem;
    }

    h3 {
      font-size: 42px;
      font-weight: 700;
      padding-top: 1.5rem;
    }

    h4 {
      font-size: 38px;
      font-weight: 600;
    }

    h5 {
      font-size: 36px;
      font-weight: 500;
    }

    h6 {
      font-size: 32px;
      font-weight: 400;
    }

    h4, h5, h6 {
      padding-top: 1rem;
    }

    p {
      padding-bottom: 1rem;
    }

    ul {
      margin: 1rem 0;
      padding-left: 2.5rem;
      list-style: disc;

      ul {
        margin: 0;
      }
    }

    a {
      color: #18d1ff;
      padding: 0 3px;
      transition: color, background-color;
      transition-duration: 300ms;

      &:hover {
        color: black;
        background-color: #18d1ff;
      }
    }

    em strong {
      color: #fe2;
    }

    strong {
      color: rgb(192, 57, 43);
    }

    blockquote {
      background-color: rgba(black, .3);
      margin: 2rem 0;
      border-left: .5rem solid #18d1ff;
      padding: 1rem 2rem;
      box-sizing: border-box;
    }

    p, th, td {
      code {
        background-color: rgba(255, 255, 255, 0.125);
        padding: 0 3px;

      }
    }

    .astro-code {
      margin: 1rem 0;
      padding: 1rem 2rem;
      box-sizing: border-box;
      /* TODO: 中英文等宽字体、复制代码按钮、切换自动换行按钮 */
    }
  }
</style>
