---
import FontFace from "../components/FontFace.astro";
import ResponsiveFontSize from "../components/ResponsiveFontSize"
import Header from "../components/header/Header.astro"
import {Menu} from "../components/header/NavMenu"
import ToolBox from "../components/ToolBox"
import OwnerInfo from "../components/OwnerInfo"
import {SvgDefs} from "../components/SvgIcons"

interface Props {
    lang?: string
    title?: string
    description?: string
}

const {lang, title, description} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} class="h-full bg-black" style="font-size: 16px">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={description}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <FontFace/>
    <ResponsiveFontSize client:only="react"/>
</head>
<body class="w-full h-full text-white bg-black m-0 overflow-hidden">
<div class="w-full h-full relative bg-layout bg-center bg-cover bg-no-repeat">
    <div class="relative w-full h-full m-auto max-w-[180rem]">
        <Header/>
        <slot/>
        <Menu client:only="react"/>
        <ToolBox client:load/>
        <OwnerInfo client:load/>
    </div>
</div>
<SvgDefs/>
</body>
</html>

<style is:global>
    @tailwind utilities;

    @layer utilities {
        .text-balance {
            text-wrap: balance;
        }

        .writing-tb {
            writing-mode: horizontal-tb;
        }

        .writing-rl {
            writing-mode: vertical-rl;
        }

        .writing-lr {
            writing-mode: vertical-lr;
        }

        .mask-unset {
            mask: unset;
        }

        .mask-gradient-90-transparent-to-white {
            mask: linear-gradient(90deg, transparent, white 20%);
        }
    }
</style>
